* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.navbar-home {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
}
.list-product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 5px;
}
.box-product{
    width: 20%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    cursor: pointer;
    margin: 5px 5px;
}
.product-header img{
    width: 100%;
    box-sizing: border-box;
}
.product-desc{
    padding: 3px;
}
.product-name {
    font-size: 14px;
}
.product-price {
    font-size: 13.5px;
    font-weight: 600;
    color: rgb(0, 130, 170);
}
.store-product{
    padding: 5px 10px;
}
.input-form {
    margin-bottom: 5px;
}
.input-form input {
    padding: 5px 8px;
    border-radius: 25px;
}
.send-button {
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(9, 148, 148);
    width: fit-content;
    padding: 5px 5px;
}